<div class="flex flex-auto">

    <ng-container *ngIf="announcement">
        <div class="flex flex-auto">

            <form class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto" [formGroup]="announcementForm">

                <!-- Header -->
                <div class="flex items-center justify-between -mt-3 -ml-4">


                    <div class="flex items-center justify-center">
                        <span class="ml-4 font-semibold">Duyuru Güncelle</span>
                    </div>

                    <div class="flex items-center">

                        <button mat-icon-button [routerLink]="['/akis']">
                      <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                  </button>
                    </div>

                </div>

                <mat-divider class="mt-6 mb-8"></mat-divider>

                <!-- Announcement Title -->
                <div>
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Başlık</mat-label>
                        <input matInput [formControlName]="'announcementTitle'" [spellcheck]="false" required minlength="2" />
                    </mat-form-field>
                </div>

                <!-- Announcement Description -->
                <div class="mt-8">
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Açıklama</mat-label>
                        <textarea matInput [formControlName]="'announcementDescription'" [spellcheck]="false" [matTextareaAutosize]="true" maxlength="99999"></textarea>
                    </mat-form-field>
                </div>

                <!-- Announcement Images -->
                <div class="mt-8">
                    <div class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Resimler</mat-label> <br />
                        <button class="mt-3" mat-flat-button [color]="'primary'" (click)="imageUploader.click()">
                      <mat-icon [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
                      <span class="ml-2 mr-1">Yükle</span>
                    </button>
                        <input type="file" accept="image/*" hidden multiple #imageUploader />
                    </div>


                </div>

                <!-- Announcement Channels -->
                <div class="flex flex-wrap mt-8">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Paylaşılacak Kanallar</mat-label>

                        <mat-select [formControlName]="'announcementChannels'" multiple required>
                            <mat-option *ngFor="let announcemnetChannel of getAnnouncementChannels();" [value]="getAnnouncementChannelKey(announcemnetChannel)">{{announcemnetChannel}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Announcement Status -->
                <div class="flex flex-wrap items-center mt-8">

                    <div>
                        <div class="font-medium">Durum</div>
                        <div class="flex items-center px-4 leading-9 rounded-full cursor-pointer mt-3" [ngClass]="{'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': announcement.announcementStatus === false,
                              'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': announcement.announcementStatus === true}" [matMenuTriggerFor]="priorityMenu">


                            <ng-container *ngIf="announcement.announcementStatus === true">
                                <mat-icon class="icon-size-4 text-current" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                <span class="ml-2 mr-1 text-md font-medium">Aktif</span>
                            </ng-container>


                            <ng-container *ngIf="announcement.announcementStatus === false">
                                <mat-icon class="icon-size-4 text-current" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                <span class="ml-2 mr-1 text-md font-medium">Pasif</span>
                            </ng-container>

                        </div>
                        <mat-menu #priorityMenu="matMenu">
                            <!-- Low -->
                            <button [ngClass]="{'bg-hover': announcement.announcementStatus === true}" mat-menu-item (click)="setActivate(true)">
                          <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                              <span class="font-medium">Aktif</span>
                              <mat-icon
                                  class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
                                  [svgIcon]="'heroicons_solid:check'"></mat-icon>
                          </span>
                      </button>

                            <button [ngClass]="{'bg-hover': announcement.announcementStatus === false}" mat-menu-item (click)="setActivate(false)">
                          <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                              <span class="font-medium">Pasif</span>
                              <mat-icon
                                  class="mr-0 icon-size-4 text-red-600 dark:text-red-500"
                                  [svgIcon]="'heroicons_solid:x'"></mat-icon>
                          </span>
                      </button>
                        </mat-menu>
                    </div>


                </div>

                <!-- Save Button -->
                <div class="mt-8">
                    <div style="width:100%;display: flex;flex-direction: row;justify-content: end;">
                        <button [disabled]="announcementForm.invalid" class="ml-4" mat-flat-button [color]="'primary'" (click)="update()">
                      <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                      <span class="ml-2 mr-1">Güncelle</span>
                    </button>
                    </div>
                </div>

            </form>

        </div>

    </ng-container>

    <ng-template *ngIf="!!announcement">
        <div class="w-100">
            <div class="p-8  border-t text-3xl font-semibold ">Ops! Böyle bir duyuru bulunamadı.</div>
        </div>
    </ng-template>

</div>
