<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">

        <mat-drawer class="w-full sm:w-128 dark:bg-gray-900" [mode]="'side'" [opened]="false" [position]="'end'" [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Loader -->
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight">Akış</div>
                <!-- Actions -->
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <!-- Search -->
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput [autocomplete]="'off'" [placeholder]="'Duyuru ara'" [formControl]="searchInputControl">
                    </mat-form-field>
                    <!-- Add announcement button -->
                    <button (click)="openDrawer()" class="ml-4" mat-flat-button [color]="'primary'">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Ekle</span>
                    </button>
                </div>
            </div>

            <div class="flex flex-auto overflow-hidden">

                <!-- Announcement list -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(announcements$ | async) as announcements">
                        <ng-container *ngIf="announcements.length > 0; else noAnnouncement">
                            <div class="grid">
                                <!-- Header -->
                                <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort (matSortChange)="sortData($event)" matSortDisableClear>
                                    <div></div>
                                    <div class="hidden md:block" [mat-sort-header]="'announcementTitle'">
                                        Başlık
                                    </div>
                                    <div class="hidden sm:block" [mat-sort-header]="'announcementDescription'">
                                        Açıklama
                                    </div>
                                    <div class="hidden lg:block" [mat-sort-header]="'announcementChannels'">
                                        Kanallar
                                    </div>
                                    <div class="hidden lg:block" [mat-sort-header]="'announcementStatus'">
                                        Durum
                                    </div>
                                    <div class="hidden lg:block" [mat-sort-header]="'createdAt'">
                                        Tarih
                                    </div>

                                    <div class="hidden lg:block">
                                        İşlem
                                    </div>
                                </div>
                                <!-- Rows -->
                                <ng-container *ngIf="announcements">
                                    <ng-container *ngFor="let announcement of announcements;">
                                        <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b hoverable">

                                            <!-- Image -->
                                            <div class="flex items-center">
                                                <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                                    <img class="w-8" *ngIf="announcement.announcementImages[0]" [alt]="'RESIM'" [src]="imgUrl + announcement.announcementImages[0].imageUrl">
                                                    <div class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase" *ngIf="!announcement.announcementImages[0]">
                                                        RESİM YOK
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Title -->
                                            <div class="hidden md:block truncate">
                                                {{announcement.announcementTitle}}
                                            </div>

                                            <!-- Description -->
                                            <div class="truncate md:block">
                                                <ng-container *ngIf="announcement.announcementDescription && announcement.announcementDescription.length > 0">
                                                    {{announcement.announcementDescription.slice(0, 40)}}...

                                                </ng-container>
                                            </div>

                                            <!-- Channels -->
                                            <div class="hidden sm:block">
                                                <ng-container *ngFor="let announcementChannel of announcement.announcementChannels">
                                                    {{getAnnouncementChannel(announcementChannel)}}
                                                </ng-container>
                                            </div>

                                            <!-- Status -->
                                            <div class="hidden lg:block">
                                                <ng-container *ngIf="announcement.announcementStatus">
                                                    <mat-icon class="text-green-400 icon-size-5" [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                </ng-container>
                                                <ng-container *ngIf="!announcement.announcementStatus">
                                                    <mat-icon class="text-gray-400 icon-size-5" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                                </ng-container>
                                            </div>

                                            <!-- Created At -->
                                            <div class="hidden lg:flex items-center">
                                                <div class="min-w-4">{{announcement.createdAt | date : 'short'}}</div>
                                            </div>

                                            <div class="hidden lg:flex items-center">
                                                <button mat-icon-button class="mr-1" [routerLink]="['duzenle', announcement.announcementId]">
                                                <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                              </button>

                                                <button mat-icon-button (click)="removeAnnouncement(announcement.announcementId, announcement.announcementTitle)">
                                                  <mat-icon [svgIcon]="'heroicons_outline:trash'" class="text-red-400"></mat-icon>
                                                </button>
                                            </div>


                                        </div>

                                    </ng-container>
                                </ng-container>
                            </div>

                            <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length" [pageIndex]="pagination.page" [pageSize]="pagination.size"
                                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" (page)="pageEvent = getDatas($event)" #matPaginator>
                            </mat-paginator>

                        </ng-container>

                    </ng-container>




                    <ng-template #noAnnouncement>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Hiç duyuru yok!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</div>