<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-6 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a [routerLink]="['/sinif']" class="whitespace-nowrap text-primary-500">Sınıflar</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Öğrenci ekle</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2 flex flex-row">
                <button mat-icon-button (click)="toggleDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Sınıfa öğrenci ekle
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-3xl">



            <form [formGroup]="attachStudentForm" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                <p class="text-lg font-medium">Sınıf ve Öğrenci bilgileri</p>
                <p class="text-secondary">
                    Sınıfa öğrenci eklerken eklediğiniz öğrencinin daha önceden kayıtlı sınıfı varsa yeni eklediğiniz sınıf yeni sınıfı olur.
                </p>
                <mat-divider class="mt-8 mb-10"></mat-divider>

                <div class="flex flex-col gt-xs:flex-row">

                    <mat-form-field class="flex-auto gt-xs:pl-3">
                        <mat-select [formControlName]="'classroomId'" [placeholder]="'Sınıf'">
                            <ng-container *ngFor="let classroom of classrooms">
                                <mat-option [value]="classroom.classRoomId">{{classroom.classRoomTag}} ({{classroom.grade.gradeName}})</mat-option>
                            </ng-container>
                        </mat-select>

                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:clipboard-list'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-xs:flex-row">

                    <mat-form-field class="flex-auto gt-xs:pl-3">
                        <mat-select [formControlName]="'addedStudents'" [placeholder]="'Eklenecek öğrenciler'" multiple>
                            <ng-container *ngFor="let student of students">
                                <mat-option [value]="student.userId">{{student.firstName}} {{student.lastName}} ({{student.classRoom?.classRoomTag}})</mat-option>
                            </ng-container>
                        </mat-select>

                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_outline:group_add'"></mat-icon>
                    </mat-form-field>
                </div>


                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button (click)="clearForm(); $event.preventDefault()" mat-button>
                  Temizle
              </button>
                    <button (click)="submitForm(); $event.preventDefault()" class="px-6 ml-3" mat-flat-button [color]="'primary'">
                  Oluştur
              </button>
                </div>
            </form>

        </div>

    </div>
</div>

<div class="absolute inset-x-0 " *ngIf="isLoading">
    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
</div>
