<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-50">
                <div class="text-1xl md:text-3xl font-semibold tracking-tight leading-5 md:leading-snug ">
                    <span class="" style="width: 100%;">E-Özşen</span>
                </div>
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Giriş yap</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Devam etmek için giriş yapmalısınız</div>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.type === 'error' ? (alert.message | errorTranslate) : alert.message }}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Kullanıcı adı</mat-label>
                    <input id="username" matInput [formControlName]="'username'" placeholder="Kullanıcı adı">
                    <mat-error *ngIf="signInForm.get('username').hasError('required')">
                        Kullanıcı adını boş bırakmayın
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Şifre</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" placeholder="Şifre" #passwordField>
                    <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                      <mat-icon
                          class="icon-size-5"
                          *ngIf="passwordField.type === 'password'"
                          [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                      <mat-icon
                          class="icon-size-5"
                          *ngIf="passwordField.type === 'text'"
                          [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                  </button>
                    <mat-error>
                        Şifrenizi boş bırakmayın
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox [color]="'primary'" [formControlName]="'rememberMe'">
                        Beni hatırla
                    </mat-checkbox>
                    <a class="text-md font-medium text-primary-500 hover:underline" [routerLink]="['/forgot-password']">Şifreni mi unuttun?
                  </a>
                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
                  <span *ngIf="!signInForm.disabled">
                      Giriş
                  </span>
                  <mat-progress-spinner
                      *ngIf="signInForm.disabled"
                      [diameter]="24"
                      [mode]="'indeterminate'"></mat-progress-spinner>
              </button>



            </form>
        </div>
    </div>
</div>
